<app-header></app-header>
<form action="">
    <div class="p-inputGroup p-m-2">
        <span class="p-inputGroupAddon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Registro">    
    </div>
    
    <div class="p-inputGroup p-m-2">
        <span class="p-inputGroupAddon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Nombre">
     </div>
     <div class="p-inputGroup p-m-2">
        <span class="p-inputGroupAddon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Apellido">    
    </div>
    <div class="p-inputGroup p-m-2">
        <span class="p-inputGroupAddon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Cedula">    
    </div>
    <div class="p-inputGroup p-m-2">
        <span class="p-inputGroupAddon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Fecha de Nacimiento">    
    </div>

    <div>
        
    
    </div>

        
</form>